$color1: #7F81B2;
$color2: #555794;
$color3: #1A1B59;
$color4: #090A3B;

body { 
    background-color: $color1;
}

#navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: $color4;
}

.navitem {
    float: left;
}

.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navitem a:hover {
    background-color: $color3;
}

.active {
    background-color: $color1;
}

@media (min-width: 600px) {
    h1.index::before {
        content: "Welcome to My ";
    }
}

h1, h3, p{ 
    text-align: center;
}

.resp {
    @media (max-width: 991px) {
        text-align: center;
    }
}

.b {
    @media (max-width: 991px) {
        margin-top: 30px;
    }
}
.sec {
    text-align: center;
    padding: 10px;
}

img.center{ 
    display: block;
    margin: 0 auto;
}
.ding {
    padding: 0px;
}

.row {
    margin-top: 60px;
    
}

%abstract {

    @media (max-width: 991px) {
        margin-left:auto; 
        margin-right:auto;
    }
}

.rightMiddle {
    @extend %abstract;
    display: block;
}

table {
    border: 2px solid $color4;
    border-collapse: collapse;
    background-color: $color2;
    @extend %abstract;
    @media (min-width: 992px) {
        float:right;
    }

    th, td {
        border: 1px solid $color4;
        border-collapse: collapse;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        color: white;
    }
}

.right {
        text-align: right;
    }

.under {
    margin-bottom: 30px;

}
